.container{
    width: 80%;
    margin: 0 auto;
}
.filter{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.filter > input{
    border: solid 1px #DDDDDD;
    border-radius: 5px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.item{
    border: solid 1px #DDDDDD;
    cursor: pointer;
}


.discount {
    display: flex;
    width: 68px;
    height: 34px;
    color: white;
    background-color: #339933;
    margin-right: 16px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.itemText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemPrice{
    display: flex;
    gap: 20px;
}
.itemPriceDiscount{
    text-decoration: line-through;
    color: #8B8B8B;
}
@media (width < 400px) {
    .filter > input{
        width: 100px;
    }
    .filter{
        gap: 5px;
    }
}