.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: solid 1px black;
    width: 95%;
    color: azure;
    margin: 0 auto;
  }
  .backGraund{
    margin: 0 auto;
    width: 100%;
    height: 750px;
    background-image: url(../../assets/bg.png);
  }
  .navigationHader{
    display: flex;
    gap: 20px;
  }
  .navigationHader>span:hover{
    transform: scale(1.2);
  }

