.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.imgProduct{
    width: 40%;
}
.totalPrice{
    display: flex;
    gap: 20px;
}
.increment{
    height: 58px;
    width: 58px;
    border: solid 1px #DDDDDD;
    color: #DDDDDD;
    border-radius: 10px;
    font-size: 30px;
}
.quantity{
    display: flex;
    align-items: center;
    gap: 40px;
}
.itemPriceDiscount{
    text-decoration: line-through;
    color: #8B8B8B;
}
.buttonAddToCart{
    width: 200px;
    height: 58px;
    border-radius: 10px;
    color: white;
    background-color: #339933;
}