.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.cartTovar{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}
.imgProduct{
    width: 40%;
}
.totalPrice{
    display: flex;
    font-size: 64px;
    gap: 20px;
}
.discount{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #339933;
    color: white;
    width: 63px;
    height: 34px;
    font-size: 20px;
}
.cartTovar > h1{
    font-size: 40px;
}
.increment{
    height: 58px;
    width: 58px;
    border: solid 1px #DDDDDD;
    color: #DDDDDD;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}
.quantity{
    display: flex;
    align-items: center;
    gap: 40px;
}
.quantity > p{
    font-size: 40px;
}
.itemPriceDiscount{
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 40px;
}
.buttonAddToCart{
    width: 200px;
    height: 58px;
    border-radius: 10px;
    color: white;
    background-color: #339933;
    cursor: pointer;
}