.container{
    width: 80%;
    margin: 0 auto;
}
.error{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.error>img{
    width: 300px;
    height: 270px;
}
.error>p{
    font-size: 300px;
    color: #339933;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.button>button{
    width: 200px;
    height: 50px;
    background-color: #339933;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}